/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

/* 
    Created on : Jul 18, 2018, 10:40:39 AM
    Author     : luis
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');

*{
    margin: 0;
    padding: 0;
}


body{
    margin: 0;
    background-image: url(../img/image.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
}

.contenedor{
    margin: 0 auto;
    width: 90%;
}

header{
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
}

header h1{
    display: inline;
}

nav{
    display: inline;
    float: right;
    padding: 10px;
}

nav a{
    padding: 8px;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border-radius: 5px;
}

nav a:hover{
    background: rgba(49, 255, 76, 0.5);
}

section{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
}

section article{
    margin: 10px;
    padding: 10px;
    width: 500px;
}

section h1{
    font-size: 20px;
}

fieldset{
    color: rgba(0, 0, 0, 0.5);
    border: none;
    padding: 10px;   
}

fieldset input{
    display: block;
    width: 250px;
    height: 35px;
    border-radius: 6px;
    padding: 5px;
    border-style: groove;
    border: 1px solid rgba(164, 255, 176, 1);
}

fieldset label{
    display: block;
    margin-top: 10px;
    margin-bottom: 5px;
    color: black;
    font-size: 18px;
}

.form{
    width: 375px;
    border-radius: 5px;
    background: white;
}

article p{
    font-size: 25px;
}

article h1{
    font-size: 60px;
}

.textArea{
    display: block;
    width: 250px;
    height: 80px;
    border-radius: 6px;
    padding: 5px;
    border: 1px solid rgba(164, 255, 176, 1);
    margin-bottom: 20px;
}

.submit{
    color: white;
    width: 250px;
    background: rgba(49, 255, 76, 1);
    border: none;
    font-size: 18px;
    font-weight: bold;
}

hgroup{
    margin: 0 auto; 
}

span{
    margin-right: 20px;
    float: right;
}

@media (min-width: 1024px){
    
    header{
        margin-bottom: 100px;
    }
    
    fieldset input, .textArea{
        width: 300px;
    }
    
     .form{
        border-radius: 5px;
        background: white;
    }
    
    .submit{
        width: 310px;
        height: 50px;
    }
}























